body {
    margin: 0;
    padding: 0;
}


.container{
    background-image: url('images/Unknown-2.jpg');
    background-size: cover; /* or 'contain' depending on your preference */
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    height: 70vh; /* Ensure the background covers the entire viewport height */
    background-color: rgba(0, 0, 0, 0);
}



.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #fff;
}

h1, h2 {
    text-align: center;
}



p {
    line-height: 1.6;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.option {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    text-align: center;
}

.option:hover {
    background-color: #0056b3;
}
